html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex-grow: 1;
}

#top-header {
  font-size: 50px;
  padding: 20px;
}

.card-title {
  font-size: 30px;
}

.card-forecast {
  display: inline-flex;
  font-size: 14px;
  border: solid 1px;
  margin: auto;
}

#clear-btn {
  border: solid 2px;
  margin: 10px 10px 10px 0;
  background-color: #343a40;
  color: white;
}

.low {
  background-color: green;
}

.moderate {
  background-color: yellow;
}

.high {
  background-color: orange;
}

.very-high {
    background-color: red;
}

.extremely-high {
  background-color: violet;
}

/* Footer */

footer {
  flex: 0 0 auto;
  padding: 15px 0 25px;
  color: #fff;
  text-align: center;
  background: #343a40;
  border-top: 4px solid white;
  box-shadow: 0 5px 8px 5px #333;
  width: 100%;
  line-height: 2px;
  text-size-adjust: 10px;
  /*bottom: 0;
  position: absolute;
  display: inline;*/
}

footer a {
  color: white;
}

footer a:visited {
  color: lightgrey;
}

footer a:hover {
  color: darkgrey;
  text-decoration: none;
}

.socialmedialinks {
  padding-bottom: 10px;
}


@media screen and (max-width: 600px) {
  header,
  .row {
    width: 100% !important;
  }
  .card-container {
    flex-direction: column !important;
    width: 100%;
  }
  .btn-lg {
    font-size: 10px !important;
  }
  .h1 {
    font-size: 3.5rem !important;
  }
}